.NoteTC {
  margin-top: var(--space4);
}

.NoteTC h1 {
  text-align: center;
  margin: 0;
}

.NoteTC__select {
  padding: var(--space3) 0 0 0;
  display: flex;
  flex-wrap: wrap;

  @media (--md) {
    padding: var(--space5);
  }
}

.NoteTC__select--element {
  flex: 1;
  text-align: center;

  @media (--md) {
    margin: var(--space4);
  }
}

.NoteTC__select--link {
  display: block;
  border-radius: 4px;
  padding: var(--space5) 0;
}

.NoteTC__select--link:hover {
  background: var(--bg-inverse);
}
