:root {
  --font-monospace: monospace;

  /* Spacing system */
  --space1: 0.25rem;
  --space2: 0.5rem;
  --space3: 1rem;
  --space4: 2rem;
  --space5: 4rem;
  --space6: 8rem;
  --space7: 16rem;
  /* Type scale */
  --f1: 3rem;
  --f2: 2.25rem;
  --f3: 1.5rem;
  --f4: 1.25rem;
  --f5: 1rem;
  --f6: 0.875rem;
  --f7: 0.75rem;

  /* Color */
  /* --c-black: #000;
  --c-near-black: #111;
  --c-dark-gray: #333;
  --c-mid-gray: #555;
  --c-gray: #777;
  --c-silver: #999;
  --c-light-silver: #aaa;
  --c-moon-gray: #ccc;
  --c-light-gray: #eee; */

  --c-primary: #1874d5;
  --c-danger: #eb5656;

  --c-text: #000;
  --c-text-sub: #444;
  --c-text-sub2: rgb(143, 166, 178);
  --c-text-inverse: #fff;
  --bg-base: #fff;

  /* Components */
  --topbar-hero-border: 4px;
  --topbar-height: calc(3rem + var(--topbar-hero-border));
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.fira-code {
  --font-monospace: "Fira Code", monospace;
}

.Layout__withHeader {
  margin-top: calc(var(--topbar-height) + var(--space4));
}

.Layout__center {
  max-width: 1100px;
  padding: calc(var(--topbar-height) + var(--space4)) var(--space4)
    var(--space5) var(--space4);
  margin: auto;
}

.warning-staging-server {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: #9f6000;
  background-color: #feefb3;
  border-top: 2px solid #9f6000;
  padding: var(--space2) var(--space3);
}
