:root {
  --font-monospace: "Fira Code", monospace;

  /* Spacing system */
  --space1: 0.25rem;
  --space2: 0.5rem;
  --space3: 1rem;
  --space4: 2rem;
  --space5: 4rem;
  --space6: 8rem;
  --space7: 16rem;
  /* Type scale */
  --f1: 3rem;
  --f2: 2.25rem;
  --f3: 1.5rem;
  --f4: 1.25rem;
  --f5: 1rem;
  --f6: 0.875rem;
  --f7: 0.75rem;

  /* Color */
  --c-black: #000;
  --c-near-black: #111;
  --c-dark-gray: #333;
  --c-mid-gray: #555;
  --c-gray: #777;
  --c-silver: #999;
  --c-light-silver: #aaa;
  --c-moon-gray: #ccc;
  --c-light-gray: #eee;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

kbd {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  font-size: 0.86em;
  color: inherit;
  line-height: 1.4;
  text-shadow: 0 1px 0 #fff;
  font-family: inherit;
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
  border: 1px solid #adb3b9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #fff inset;
}
