:root {
  --font-monospace: monospace;

  /* Spacing system */
  --space1: 0.25rem;
  --space2: 0.5rem;
  --space3: 1rem;
  --space4: 2rem;
  --space5: 4rem;
  --space6: 8rem;
  --space7: 16rem;
  /* Type scale */
  --f1: 3rem;
  --f2: 2.25rem;
  --f3: 1.5rem;
  --f4: 1.25rem;
  --f5: 1rem;
  --f6: 0.875rem;
  --f7: 0.75rem;

  --c-primary: #1874d5;
  --c-danger: #ff3860;
  --c-success: #23d160;

  --c-text: #000;
  --c-text-sub: #444;
  --c-text-sub2: rgb(143, 166, 178);
  --c-text-inverse: #fff;
  --bg-base: #fff;
  --bg-inverse: #eee;

  /* Components */
  --topbar-hero-border: 4px;
  --topbar-height: calc(3rem + var(--topbar-hero-border));
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.fira-code {
  --font-monospace: "Fira Code", monospace;
}

.Layout__withHeader {
  margin-top: calc(var(--topbar-height) + var(--space4));
}

.Layout__center {
  max-width: 1100px;
  padding: calc(var(--topbar-height) + var(--space4)) var(--space3)
    var(--space5) var(--space3);
  margin: auto;
}

.warning-staging-server {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: #9f6000;
  background-color: #feefb3;
  border-top: 2px solid #9f6000;
  padding: var(--space2) var(--space3);
}

a {
  color: var(--c-primary);
}

a:hover,
a:focus {
  color: color-mod(var(--c-primary) lightness(-6%));
}

.btn {
  transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border: 0;
  text-decoration: none;
  margin: 0;
  padding: var(--space2);

  display: flex;
  align-items: center;

  & svg {
    margin-right: var(--space1);
  }
}

.btn--large {
  padding: var(--space3);
}

.btn-primary {
  background: var(--c-primary);
  color: var(--c-text-inverse);
}

.btn-primary:hover {
  background: color-mod(var(--c-primary) lightness(-10%));
  color: var(--c-text-inverse);
}

.cm-link-marker {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cm-link-marker > span {
  display: inherit;
}

.cm-link-marker a {
  padding: 0 0 0 2px;
}

.cm-link-marker svg {
  height: 16px;
  width: 16px;
  fill: none;
  stroke: var(--c-primary);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.cm-link-marker svg:hover {
  stroke: color-mod(var(--c-primary) lightness(-6%));
}
