.User h1 {
  margin: 0 0 var(--space4) 0;
}

.User__notes {
  list-style-type: none;
  padding: 0;
}

.User__notes__note {
  margin: var(--space3) 0;
}

.User__notes--link {
  text-decoration: none;
  color: var(--c-primary);
  font-size: var(--f4);
  
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--c-text-sub);
  }
}

.User__notes--title {
  font-weight: 500;
  color: var(--c-text);
}

.User__notes--dash {
  color: var(--c-text);
}

.User__notes__lastEdited {
  padding-right: var(--space2);
  font-weight: 400;
  font-size: var(--f6);
  color: var(--c-text-sub2);
}

.User__notes__time {
  margin-left: var(--space1);
}
