matrix:
  include:
  - language: node_js
    cache:
      directories:
        - client/node_modules
    node_js:
      - 10
    os:
      - linux
    before_install: cd client
    install: npm install
    script:
      - npm run ci:build
      # - npm run test
    after_script:
      - cp now.json build
      - cd ../github/bot
      - npm install 
      - cd ../../client/build 
      - node ../../github/bot/deploy.js
    deploy:
      - provider: script
        script: now --token $NOW_TOKEN --public && now alias --token $NOW_TOKEN staging.rtop.khoanguyen.me
        skip_cleanup: true
        on:
          master: true
