.UI_SketchOwnerInfo {
  display: flex;
  align-items: center;

  & > a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  & > a:hover {
    text-decoration: underline;
    text-decoration-color: var(--c-text-sub2);
  }
}

.UI_SketchOwnerInfo__avatar {
  border: 2px solid var(--c-text-sub2);
  border-radius: 50%;
  margin-right: var(--space2);
}

.UI_SketchOwnerInfo__username {
  color: var(--c-text-sub2);
  font-weight: 700;
}

.UI_SketchOwnerInfo__lastEdited {
  padding-right: var(--space2);
  font-weight: 400;
  color: var(--c-text-sub2);
}

.UI_SketchOwnerInfo__lastEdited::before {
  content: "-";
  margin: 0 var(--space2);
}

.UI_SketchOwnerInfo__time {
  margin-left: var(--space1);
}
