.Topbar__userInfo {
  margin-right: var(--space3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.Topbar__userInfo--content {
  display: none;
  @media (--md) {
    display: flex;
    margin-right: var(--space2);
    flex-direction: column;
    align-items: flex-end;
  }
}

.Topbar__userInfo--name,
.Topbar__userInfo--username {
  font-weight: 500;
  color: var(--c-text);
}

.Topbar__userInfo--name + .Topbar__userInfo--username {
  color: var(--c-text-sub2);
  font-weight: 400;
  font-size: var(--f6);
}

.Topbar__userInfo--avatar {
  border-radius: 4px;
}
