:root {
  /* --topbar-c-primary: var(--c-primary); */
  --topbar-c-primary: #1874d5; /* Still --c-primary */
}

.Topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--topbar-height);
  background: var(--bg-base);
  box-shadow: 0 1px 0 rgba(89, 105, 129, 0.2),
    0 1px 4px rgba(89, 105, 129, 0.05);
  display: flex;
  justify-content: space-between;
  z-index: 10;
  color: var(--c-text-sub);
  border-top: var(--topbar-hero-border) solid var(--c-primary);
}

.Topbar a {
  text-decoration: none;
}

.Topbar svg {
  margin-right: var(--space1);
}

.Topbar__left,
.Topbar__right,
.Topbar__actions {
  display: flex;
  height: 100%;
  align-items: center;
}

.Topbar__left .Topbar__home {
  padding: var(--space3);
  font-weight: 500;
  color: var(--c-primary);
  display: flex;
  align-items: center;

  &:visited {
    color: var(--c-primary);
  }
  & > span {
    display: none;
    @media (--md) {
      display: inline;
    }
  }
}

.Topbar__action {
  transition: border-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  line-height: 1;
  height: 100%;
  font-size: var(--f5);
  cursor: pointer;
  box-sizing: inherit;
  z-index: 1;
  background: 0;
  border: 0;
  border-bottom: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  outline: none;
  color: var(--c-text-sub);
  padding: 0 var(--space3);

  & > span {
    display: none;
  }

  & > svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  @media (--md) {
    & > svg {
      height: 1rem;
      width: 1rem;
    }
    & > span {
      display: inline;
    }
  }
}

.Topbar__action:hover {
  border-color: var(--topbar-c-primary);
  color: var(--c-text);
}

.Topbar__action:disabled {
  color: var(--c-text-sub2);
}

.Topbar__action:hover:disabled {
  border-color: var(--c-text-sub2);
}

.Topbar__action--highlight {
  color: var(--topbar-c-primary);
  font-weight: 500;
}
.Topbar__action--highlight:hover,
.Topbar__action--highlight:visited {
  color: var(--topbar-c-primary);
}

.Topbar__login {
  height: 100%;
}
