.widget__lint-error {
  --lint-widget-main-color: #eb5656;
  --lint-widget-background-color: #fdeeee;
}
.widget__lint-warning {
  --lint-widget-main-color: #9f6000;
  --lint-widget-background-color: #feefb3;
}

.widget__lint .widget__lint--wrapper {
  background-color: var(--lint-widget-background-color);
  color: var(--lint-widget-main-color);
  overflow: hidden;
  position: relative;
  min-height: 2em;
  margin-left: -5px;
  border-left: 4px solid var(--lint-widget-main-color);
  display: flex;
  align-items: center;
}

.widget__lint .wrapper__link--content {
  padding-left: 10px;
  white-space: pre;
}

.widget__stdout {
  color: #495057;
  background-color: #e9ecef;
  white-space: pre;
  padding: 0.5em;
}

.widget__value {
  white-space: pre;
  color: hsl(0, 0%, 60%);
}
.widget__value--truncated {
  display: none;
}
.widget__value__button {
  display: block;
  outline: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  color: inherit;
  font-family: var(--font-monospace);
}

.widget__foldable.widget__foldable--show {
  display: flex;
  margin-left: -12px;
}
.widget__foldable--show {
  & .widget__foldable__gutter {
    padding-right: 3px;
    text-align: right;
  }
  & .widget__foldable__gutter {
    cursor: pointer;
  }
  & .widget__foldable__gutter:after {
    content: "\25B8";
  }
  &.widget__foldable--folded .widget__foldable__gutter:after {
    content: "\25BE";
  }
}

.widget__foldable--folded {
  & .widget__value--truncated {
    display: block;
  }
  & .widget__value__button {
    display: none;
  }
}

.widget__copyButton {
  position: absolute;
  right: 0;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
  z-index: 2;

  & > svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: hsl(0, 0%, 70%);
    stroke-width: 2;
    stroke-linejoin: round;

    &:hover {
      stroke: var(--cm-text);
    }
  }
}
