.UI_Notification {
  position: absolute;
  z-index: 9;
  top: -100px;
  left: 0;
  right: 0;
  background: var(--c-danger);
  color: #fff;
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 12px 20px -10px rgba(0, 0, 0, 0.28),
    0px 4px 20px 0px rgba(0, 0, 0, 0.12), 0px 7px 8px -5px rgba(0, 0, 0, 0.2);
  transition: top 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

@media (--md) {
  .UI_Notification {
    width: 40%;
    margin: auto;
  }
}

.UI_Notification--open {
  top: var(--topbar-height);
}
