#main {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  border-radius: 5px;
  border: solid 1px #ddd;
}

#footer {
  display: flex;
  align-items: center;
  width: 100%;
  background: #eee;
  border-top: solid 1px #ddd;
  font-size: 0.8rem;
}

.footer-cell {
  border-right: solid 1px #ddd;
  padding: 0.5rem;
  color: #666;
}
.footer-cell:hover {
  background: #ccc;
}

.footer_spacing {
  flex: 1;
}

.footer-powered-by {
  text-decoration: none;
}
.footer-powered-by:hover {
  color: inherit;
}

.footer_run {
  padding: 0.5rem;
  border: none;
  background: #1874d5;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_run:hover {
  background: #135ba7;
}

.footer_run_icon {
  fill: #fff;
  height: 12px;
  width: 12px;
}

#editor {
  flex: 1;
}

#editor > div {
  height: 100%;
}

#editor.fixedHeight .CodeMirror {
  height: calc(100vh - 34px);
}
#editor.autoHeight .CodeMirror {
  height: 100%;
}
