.pageSizer {
  min-width: 768px;
  max-width: 1100px;
  padding: 40px 100px 80px 100px;
  margin: auto;
}

.metadata {
  margin-left: var(--cm-gutter-width);
}

.metadata__title-input {
  width: 100%;
  display: block;
  font-size: var(--f1);
  font-weight: 900;
  color: #625666;
  font-family: var(--font-monospace);
  border: none;
  outline: none;
  margin: 0 0 0 8px;
  padding: 0;
  background-color: transparent;
}
/* ////////////////////// Cells //////////////// */
.cell__container {
  margin-top: 25px;
  padding: 0px;
  position: relative;
}

.cell__controls {
  margin-top: 4px;
  margin-left: 36px;
  display: flex;
  flex-direction: row-reverse;
}

.cell__controls-buttons {
  flex: 0 0 50%;
  display: flex;
  flex-direction: row-reverse;
}

.cell__controls-hint {
  flex: 0 0 50%;
  color: rgb(136, 136, 136);
  font-size: 13px;
  font-style: italic;
  display: flex;
  align-items: center;
}

.cell__controls-hint--run {
  font-style: italic;
  border: 0;
  color: white;
  padding: 0 5px;
  font-weight: bold;
  margin: 0;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  transform: scale(0.9, 0.9);
  background: #00c72b;
  text-shadow: 0px 1px 0 #11b53c;
  cursor: pointer;
}
/* \\\\\\\\\\\\\\\\\\\\\\ Cells \\\\\\\\\\\\\\\ */
