.pageSizer {
  min-width: 768px;
  max-width: 1100px;
  padding: 40px 100px 80px 100px;
  margin: auto;
}

.metadata {
  margin-left: 36px;
}

.metadata__title-input {
  width: 100%;
  display: block;
  font-size: 2em;
  font-weight: 900;
  color: #625666;
  font-family: "Fira Code", "Ubuntu Mono", monospace;
  border: none;
  outline: none;
  margin: 0 0 0 8px;
  padding: 0;
  background-color: transparent;
}
/* ////////////////////// Cells //////////////// */
.cell__container {
  margin-top: 25px;
  padding: 0px;
  position: relative;
}

.cell__controls {
  margin-top: 4px;
  margin-left: 36px;
  display: flex;
  flex-direction: row-reverse;
}

.cell__controls-buttons {
  flex: 0 0 50%;
  display: flex;
  flex-direction: row-reverse;
}

.cell__controls-hint {
  flex: 0 0 50%;
  color: rgb(136, 136, 136);
  font-size: 13px;
  font-style: italic;
  display: flex;
  align-items: center;
}

.cell__controls-hint--run {
  font-style: italic;
  border: 0;
  color: white;
  padding: 0 5px;
  font-weight: bold;
  margin: 0;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  transform: scale(0.9, 0.9);
  background: #00c72b;
  text-shadow: 0px 1px 0 #11b53c;
  cursor: pointer;
}
/* \\\\\\\\\\\\\\\\\\\\\\ Cells \\\\\\\\\\\\\\\ */

/* ///////////////////// Widgets ////////////// */

.widget__lint-error {
  --main-color: #eb5656;
  --background-color: #fdeeee;
}
.widget__lint-warning {
  --main-color: #9f6000;
  --background-color: #feefb3;
}
.widget__lint .wrapper {
  background-color: var(--background-color);
  color: var(--main-color);
  overflow: hidden;
  position: relative;
  left: 28px;
  width: calc(100% - 26px);
  min-height: 2em;
  margin-left: -8px;
  border-left: 6px solid var(--main-color);
  display: flex;
  align-items: center;
}

.widget__lint .wrapper::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 1px;
  right: 0;
  bottom: 0;
  border-left: 2px solid var(--main-color);
}

.widget__lint .content {
  padding-left: 10px;
  white-space: pre;
}

.widget__value {
  color: #868e96;
  height: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  opacity: 0.6;
  transition: opacity 50ms ease-in-out;
}
.widget__value:hover {
  opacity: 1;
}

.widget__stdout {
  color: #495057;
  background-color: #e9ecef;
  white-space: pre;
  padding: 0.5em;
}
/* \\\\\\\\\\\\\\\\\\\\\ Widgets \\\\\\\\\\\\\ */
