/* Rtop theme */

:root {
  --mono-1: #444;
  --mono-2: #686b77;
  --mono-3: #978998;
  --hue-1: #0184bb;
  --hue-2: #4078f2;
  --hue-3: #a626a4;
  --hue-4: #50a14f;
  --hue-5: #e45649;
  --hue-5-2: #c91243;
  --hue-6: #986801;
  --hue-6-2: #c18401;

  --cm-text: var(--mono-1);
  --cm-quote: var(--mono-3);
  --cm-comment: var(--mono-3);
  --cm-property: var(--hue-6-2);
  --cm-variable: var(--hue-2);
  --cm-variable-2: var(--hue-2);
  --cm-header: var(--mono-1);
  --cm-operator: var(--mono-1);
  --cm-string: var(--hue-4);
  --cm-keyword: var(--hue-5);
  --cm-number: var(--hue-6);
  --cm-header: var(--cm-mono-1);

  /* Spacing and decorations */
  --cm-padding-v: 0;
  --cm-padding-h: var(--space2);
  --cm-gutter-width: var(--space4);
  --cm-linenumber: var(--hue-2);
  --cm-border-color: var(--mono-2);
}

.cm-s-rtop.CodeMirror {
  font-family: var(--font-monospace);
  font-weight: 400;
  line-height: 1.5;
  color: var(--cm-text);
}
.cm-s-rtop .cm-header {
  color: var(--cm-header);
}
.cm-s-rtop .cm-header-1 {
  font-size: var(--f2);
}
.cm-s-rtop .cm-header-2 {
  font-size: var(--f3);
}
.cm-s-rtop .cm-quote {
  color: var(--cm-quote);
  font-style: italic;
}

.cm-s-rtop .cm-keyword {
  color: var(--cm-keyword);
}
.cm-s-rtop .cm-atom {
  color: #219;
}
.cm-s-rtop .cm-number {
  color: var(--cm-hue-6);
}
.cm-s-rtop .cm-def {
  color: #00f;
}
.cm-s-rtop .cm-punctuation,
.cm-s-rtop .cm-property {
  color: var(--cm-property);
}

.cm-s-rtop .cm-variable {
  color: var(--cm-variable);
}
.cm-s-rtop .cm-variable-2 {
  color: var(--cm-variable-2);
}
.cm-s-rtop .cm-variable-3,
.cm-s-rtop .cm-type {
  color: #085;
}

.cm-s-rtop .cm-operator {
  color: var(--cm-operator);
}

.cm-s-rtop .cm-comment {
  color: var(--cm-comment);
}
.cm-s-rtop .cm-string {
  color: var(--cm-string);
}
.cm-s-rtop .cm-string-2 {
  color: #f50;
}
.cm-s-rtop .cm-meta {
  color: #555;
}
.cm-s-rtop .cm-qualifier {
  color: #555;
}
.cm-s-rtop .cm-builtin {
  color: #30a;
}
.cm-s-rtop .cm-bracket {
  color: #997;
}
.cm-s-rtop .cm-tag {
  color: #170;
}
.cm-s-rtop .cm-attribute {
  color: #00c;
}
.cm-s-rtop .cm-hr {
  color: #999;
}
.cm-s-rtop .cm-link {
  color: var(--cm-variable-2);
}

.cm-s-rtop .cm-error {
  color: #f00;
}

.cm-s-rtop .CodeMirror-gutters {
  background: transparent;
}

/* Sizing */
.CodeMirror pre {
  padding: var(--cm-padding-v) var(--cm-padding-h);
}

/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22;
}
.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}
.CodeMirror-activeline-background {
  background: #e8f2ff;
}
.CodeMirror-activeline .CodeMirror-linenumber {
  background: #e8f2ff;
}

/* \\\\\\\\\\\\\\\\\\\ End of theme \\\\\\\\\\\\\\ */

/* ////////////////// Additions */
.text-editor .CodeMirror,
.source-editor .CodeMirror {
  height: auto !important;
}

.text-editor {
  margin-left: var(--cm-gutter-width);
}
