.block__container {
  margin-top: var(--space4);
  padding: 0px;
  position: relative;
}

.block__controls {
  margin-top: var(--space1);
  margin-left: calc(var(--cm-gutter-width));
  display: flex;
  flex-direction: row-reverse;
}

.block__controls--lang {
  flex: 1;
}

.block__controls--langButton {
  cursor: pointer;
  padding: var(--space1);
  border: 0;
  outline: 0;
  color: var(--c-text-inverse);
  opacity: 0.2;
}
.block__controls--langButton:hover {
  opacity: 0.5;
}

.block__controls--langButton-RE {
  background: #da4139;
}
.block__controls--langButton-ML {
  background: #ed6f0c;
}
.block__controls--langButton-active {
  opacity: 1 !important;
}

.block__controls--buttons {
  display: flex;
}

.block__controls--button {
  background: none;
  border: 0;
  outline: none;
  font-weight: 700;
  padding: 0;
  color: #aaa;
  transition: color 250ms ease;
  margin-right: var(--space3);
  cursor: pointer;
  font-size: var(--f5);

  & svg {
    margin-right: var(--space1);
  }

  &:hover {
    color: var(--c-primary) !important;
  }

  &.block__controls--danger:hover {
    color: var(--c-danger) !important;
  }
}

.block__container:hover .block__controls--button {
  color: #888;
}

.block__controls--button:last-of-type {
  margin-right: 0;
}
