.block__container {
  margin-top: var(--space4);
  padding: 0px;
  position: relative;
}

.block__controls {
  margin-top: var(--space2);
  display: flex;
  flex-direction: row-reverse;
}

.block__controls--buttons {
  display: flex;
}
