.EditorNote {
  min-width: 768px;
}

.EditorNote__metadata {
  margin-left: var(--cm-gutter-width);
}

.EditorNote__metadata--title {
  width: 100%;
  display: block;
  font-size: var(--f2);
  font-weight: 700;
  color: var(--cm-text);
  font-family: var(--font-monospace);
  border: none;
  margin: 0 0 0 8px;
  padding: 0;
  background-color: transparent;
}

.EditorNote__metadata--info {
  margin: 0 0 0 8px;
  display: flex;
  flex-direction: row-reverse;
}

.EditorNote__owner {
  flex: 1;
}

.EditorNote__lang {
  font-size: var(--f4);
}

.EditorNote__lang--button {
  cursor: pointer;
  padding: var(--space1);
  border: 0;
  outline: 0;
  color: var(--c-text-inverse);
  opacity: 0.2;
}

.EditorNote__lang--button:hover {
  opacity: 0.5;
}
.EditorNote__lang--RE {
  background: #da4139;
}
.EditorNote__lang--ML {
  background: #ed6f0c;
}
.EditorNote__lang--active {
  opacity: 1 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.EditorNav__button--spin {
  animation: spin 2s infinite linear;
}

.EditorNote__saveStatus {
  color: rgb(150, 150, 150);
  font-size: var(--f6);
  position: fixed;
  bottom: var(--space3);
  left: var(--space3);
  z-index: 1;
}
