.EditorNote {
  min-width: 768px;
}

.EditorNote__metadata {
  margin-left: var(--cm-gutter-width);
}

.EditorNote__metadata--title {
  width: 100%;
  display: block;
  font-size: var(--f2);
  font-weight: 700;
  color: var(--cm-text);
  font-family: var(--font-monospace);
  border: none;
  outline: none;
  margin: 0 0 0 8px;
  padding: 0;
  background-color: transparent;
}

.EditorNote__owner {
  margin: 0 0 0 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.EditorNav__button--spin {
  animation: spin 2s infinite linear;
}

.EditorNote__saveStatus {
  color: rgb(150, 150, 150);
  font-size: var(--f6);
  position: fixed;
  bottom: var(--space5);
  left: var(--space3);
  z-index: 1;
}
