/* ///////////// base.css */
/* Source Editor */

.cm-read-only .CodeMirror-cursor {
  visibility: hidden !important;
}
.source-editor,
.source-viewer {
  position: relative;
}
.source-editor textarea,
.source-viewer textarea {
  width: 0px;
  height: 0px;
  display: block;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  resize: none;
}
.source-editor .gutter,
.source-viewer .gutter {
  width: 36px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.source-viewer .CodeMirror-scroll {
  min-height: 1em;
  max-height: 300px;
}
.regexp-results textarea {
  width: 0px;
  height: 0px;
  display: block;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  resize: none;
}
.regexp-results .CodeMirror {
  height: auto !important;
}
.regexp-results {
  min-height: 30px;
  display: block;
  width: 100%;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #888;
  background: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.regex-highlight {
  background-color: rgba(21, 179, 0, 0.3);
}

.source-editor .CodeMirror-lines {
  border: 1px solid #e5e9ef;
}
.source-editor .CodeMirror-focused .CodeMirror-linenumber {
  color: rgba(90, 163, 225, 0.63);
}
.source-editor .CodeMirror-focused .CodeMirror-lines {
  border: 1px solid rgba(90, 163, 225, 0.63);
}

/* ////////////////// Additions */
.text-editor .CodeMirror,
.source-editor .CodeMirror,
.source-viewer .CodeMirror {
  height: auto !important;
}

.text-editor {
  margin-left: 36px;
}

.text-editor .cm-header-1 {
  font-size: 2em;
}

.text-editor .cm-header-2 {
  font-size: 1.5em;
}
